<form id="custom_tinymce_image_upload" class="custom_tinymce_form" method="post" enctype="multipart/form-data" action="">
	<div>
		<label for="custom_tinymce_image_upload_image">File to upload</label>
		<input type="file" id="custom_tinymce_image_upload_image" name="custom_tinymce_image_upload_image" class="image_upload" required="true" class="file" size="28" />
	</div>
	<div>
		<label for="custom_tinymce_image_upload_title">Image title</label>
		<input type="text" id="custom_tinymce_image_upload_title" name="custom_tinymce_image_upload_title" class="title" />
	</div>
	<div id="custom_tinymce_image_upload_classes">
		<label for="custom_tinymce_image_upload_class">Style</label>
		<select id="custom_tinymce_image_upload_class" name="custom_tinymce_image_upload_class">
			<option value=""></option>
		</select>
	</div>
	<div class="buttonset">
		<input type="submit" value="Upload" />
		<span class="or">or</span> <a href="#" class="cancel">Cancel</a>
		<img class="spinner" src="" width="15" height="15" alt="" />
	</div>
	<span class="speak"></span>
</form>